<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>health_sample-2</display-name>
  <servlet>
    <servlet-name>HealthSampleServlet</servlet-name>
    <servlet-class>com.google.health.samples.webapp.HealthSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthSampleServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>